<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>corona Admin</title>
    <link rel="icon" href="asstes/img/b.png">
    <link rel="stylesheet" href="asstes/css/style.css">
    <link rel="stylesheet" href="asstes/css/fonts.css">
    <link rel="stylesheet" href="asstes/css/semantic.css">
    <link rel="stylesheet" href="asstes/css/all.min.css">
</head>

<body>

    <div class="ui sidebar vertical left menu overlay visible bg-c1"
    style="-webkit-transition-duration: 0.1s; overflow: visible !important;">
    <div class="item logo">
        <img src="asstes/img/logo.svg" /><img src="asstes/img/logo-mini (1).svg" style="display: none" />
    </div>
    <div class="ui accordion">
        <a class="title item c-1">Dashboard <i class="dropdown icon"></i>
        </a>
        <div class="content">
            <a class="item" href="dashboard.html">Dashboard
            </a>
        </div>

        <div class="title item c-1">
            <i class="dropdown icon"></i> Apps
        </div>
        <div class="content">
            <a class="item" href="inbox.html">Inbox
            </a>
            <a class="item" href="mail.html">Mailbox
            </a>
            <a class="item" href="chat.html">Chat
            </a>
            <a class="item" href="contacts.html">Contacts
            </a>
            <a class="item" href="photoeditor.html">Photo Editor
            </a>
            <a class="item" href="calendar.html">Calendar
            </a>
            <a class="item" href="filter.html">Filter
            </a>
            <a class="item" href="todo.html">Todo
            </a>
        </div>
        <div class="title item c-1">
            <i class="dropdown icon"></i> Layouts
        </div>
        <div class="content">
            <a class="item" href="sidebar.html">Sidebar
            </a>
            <a class="item" href="menu.html">Nav
            </a>
            <a class="item" href="animatedicon.html">Animated Icon
            </a>
            <a class="item" href="box.html">Box
            </a>
            <a class="item" href="cards.html">Cards
            </a>
            <a class="item" href="color.html">Colors
            </a>
            <a class="item" href="comment.html">Comment
            </a>
            <a class="item" href="embed.html">Embed
            </a>
            <a class="item" href="faq.html">Faq
            </a>
            <a class="item" href="feed.html">Feed
            </a>
            <a class="item" href="gallery.html">Gallery
            </a>
            <a class="item" href="grid.html">Grid
            </a>
            <a class="item" href="header.html">Header
            </a>
            <a class="item" href="timeline.html">Timeline
            </a>
            <a class="item" href="message.html">Message
            </a>
            <a class="item" href="price.html">Price
            </a>
        </div>

        <a class="item c-1">
            <b>Components</b>
        </a>

        <div class="title item c-1">
            <i class="dropdown icon"></i> UI-Kit
        </div>
        <div class="content">
            <a class="item" href="accordion.html">Accordion
            </a>
            <a class="item" href="breadcrumb.html">Breadcrumb
            </a>
            <a class="item" href="button.html">Button
            </a>
            <a class="item" href="divider.html">Divider
            </a>
            <a class="item" href="dropdown.html">Dropdown
            </a>
            <a class="item" href="flag.html">Flag
            </a>
            <a class="item" href="icon.html">Icon
            </a>
            <a class="item" href="image.html">Image
            </a>
            <a class="item" href="label.html">Label
            </a>
            <a class="item" href="list.html">List
            </a>
            <a class="item" href="modal.html">Modal
            </a>
            <a class="item" href="notification.html">Notification
            </a>
            <a class="item" href="alert.html">Alert
            </a>

            <a class="item" href="progress.html">Progress
            </a>
            <a class="item" href="range-v1.html">Range Semantic
            </a>
            <a class="item" href="range-v2.html">Range Material
            </a>
            <a class="item" href="rating.html">Rating
            </a>
            <a class="item" href="tab.html">Tab
            </a>
            <a class="item" href="tooltip.html">Tooltip
            </a>
            <a class="item" href="transition.html">Transition
            </a>
        </div>

        <div class="title item c-1">
            <i class="dropdown icon"></i> Pages
        </div>
        <div class="content c-1">
            <a class="item" href="profile.html">Profile
            </a>

            <a class="item" href="settings.html">Settings
            </a>

            <a class="item" href="blank.html">Blank
            </a>
            <a class="item" href="signin.html">Sign In
            </a>
            <a class="item" href="signup.html">Sign Up
            </a>
            <a class="item" href="forgotpassword.html">Forgot Password
            </a>
            <a class="item" href="lockme.html">Lock Me Screen
            </a>
            <a class="item" href="404.html">Error 404
            </a>
            <a class="item" href="comingsoon.html">Coming Soon
            </a>
        </div>

        <div class="title item c-1">
            <i class="dropdown icon"></i> Form
        </div>
        <div class="content">
            <a class="item" href="formelements.html">Form Element
            </a>
            <a class="item" href="input.html">Input
            </a>
            <a class="item" href="formvalidation.html">Form Validation
            </a>

            <a class="item" href="editor.html">Html Editor
            </a>
        </div>

        <div class="title item c-1">
            <i class="dropdown icon"></i> Tables
        </div>
        <div class="content c-1">
            <a class="item" href="table.html">Static Table
            </a>
            <a class="item" href="datatable.html">Datatable
            </a>
            <a class="item" href="editable.html">Editable
            </a>
        </div>
        <div class="title item c-1">
            <i class="dropdown icon"></i> Chart
        </div>
        <div class="content c-1">
            <a class="item" href="chart.html">Charts 1
            </a>
            <a class="item" href="chart-2.html">Charts 2
            </a>
            <a class="item" href="chart-3.html">Charts 3
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone c-1">
        <z>Dashboard</z>
        <i class="icon demo-icon heart icon-heart"></i>

        <div class="menu">
            <div class="header">
                Dashboard
            </div>
            <div class="ui divider"></div>
            <a class="item" href="dashboard.html">Dashboard
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone c-1">
        <z>Layout</z>
        <i class="icon demo-icon world icon-globe"></i>

        <div class="menu c-1">
            <div class="header">
                Layout
            </div>
            <div class="ui divider"></div>
            <a class="item" href="inbox.html">Inbox
            </a>
            <a class="item" href="mail.html">Mailbox
            </a>
            <a class="item" href="chat.html">Chat
            </a>
            <a class="item" href="contacts.html">Contacts
            </a>
            <a class="item" href="photoeditor.html">Photo Editor
            </a>
            <a class="item" href="calendar.html">Calendar
            </a>
            <a class="item" href="filter.html">Filter
            </a>
            <a class="item" href="todo.html">Todo
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone c-1">
        <z>Pages</z>
        <i class="icon demo-icon  icon-params alarm"></i>

        <div class="menu c-1">
            <div class="header">
                Layouts
            </div>
            <div class="ui divider c-1"></div>
            <a class="item" href="sidebar.html">Sidebar
            </a>
            <a class="item" href="menu.html">Nav
            </a>
            <a class="item" href="animatedicon.html">Animated Icon
            </a>
            <a class="item" href="box.html">Box
            </a>
            <a class="item" href="cards.html">Cards
            </a>
            <a class="item" href="color.html">Colors
            </a>
            <a class="item" href="comment.html">Comment
            </a>
            <a class="item" href="embed.html">Embed
            </a>
            <a class="item" href="faq.html">Faq
            </a>
            <a class="item" href="feed.html">Feed
            </a>
            <a class="item" href="gallery.html">Gallery
            </a>
            <a class="item" href="grid.html">Grid
            </a>
            <a class="item" href="header.html">Header
            </a>
            <a class="item" href="timeline.html">Timeline
            </a>
            <a class="item" href="message.html">Message
            </a>
            <a class="item" href="price.html">Price
            </a>
        </div>
    </div>
</div>
<div class="pusher">
    <div class="ui menu asd borderless bg-c1"
        style="border-radius: 0!important; border: 0; margin-left: 260px; -webkit-transition-duration: 0.1s;">
        <a class="item openbtn c-1">
            <i class="fa-solid fa-bars"></i>
        </a>
        <form action="sa-1">
            <input type="text" placeholder="Search products" name="search">
        </form>

        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

        <div class="wrapper bg-c1">
            <div class="box">
                <div class="b-1">
                    + Create New Project
                </div>
            </div>
            <div class="navbar">
                <div class="navbar_left">
                    <div class="logo">

                    </div>
                </div>

                <div class="navbar_right">

                    <div class="notifications">
                        <div class="icon_wrap"><i class="fa-solid fa-table-cells-large"></i></div>
                    </div>
                    <div class="notifications">
                        <div class="icon_wrap"><i class="fa-regular fa-envelope"></i></div>
                        <div class="notification_dd">
                            <ul class="notification_ul">
                                <li class="starbucks success">
                                    <div class="notify_icon">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="notify_data">

                                        <div class="sub_title">
                                            Rohan
                                        </div>
                                    </div>

                                </li>
                                <li class="baskin_robbins failed">
                                    <div class="notify_icon">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="notify_data">

                                        <div class="sub_title">
                                            rajesh
                                        </div>

                                </li>
                                <li class="mcd success">
                                    <div class="notify_icon">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="notify_data">

                                        <div class="sub_title">
                                            rajesh
                                        </div>
                                </li>
                                <li class="pizzahut failed">
                                    <div class="notify_icon">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="notify_data">

                                        <div class="sub_title">
                                            rajesh
                                        </div>
                                    </div>

                                </li>
                                <li class="kfc success">
                                    <div class="notify_icon">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="notify_data">

                                        <div class="sub_title">
                                            jay
                                        </div>
                                    </div>

                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="notifications">
                        <div class="icon_wrap"><i class="far fa-bell"></i></div>

                        <div class="notification_dd">
                            <ul class="notification_ul">
                                <li class="starbucks success">
                                    <div class="notify_icon">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="notify_data">
                                        <div class="title">
                                            Lorem, ipsum dolor.
                                        </div>
                                        <div class="sub_title">
                                            Lorem ipsum dolor sit amet consectetur.
                                        </div>
                                    </div>
                                    <div class="notify_status">
                                        <p>Success</p>
                                    </div>
                                </li>
                                <li class="baskin_robbins failed">
                                    <div class="notify_icon">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="notify_data">
                                        <div class="title">
                                            Lorem, ipsum dolor.
                                        </div>
                                        <div class="sub_title">
                                            Lorem ipsum dolor sit amet consectetur.
                                        </div>
                                    </div>
                                    <div class="notify_status">
                                        <p>Failed</p>
                                    </div>
                                </li>
                                <li class="mcd success">
                                    <div class="notify_icon">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="notify_data">
                                        <div class="title">
                                            Lorem, ipsum dolor.
                                        </div>
                                        <div class="sub_title">
                                            Lorem ipsum dolor sit amet consectetur.
                                        </div>
                                    </div>
                                    <div class="notify_status">
                                        <p>Success</p>
                                    </div>
                                </li>
                                <li class="pizzahut failed">
                                    <div class="notify_icon">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="notify_data">
                                        <div class="title">
                                            Lorem, ipsum dolor.
                                        </div>
                                        <div class="sub_title">
                                            Lorem ipsum dolor sit amet consectetur.
                                        </div>
                                    </div>
                                    <div class="notify_status">
                                        <p>Failed</p>
                                    </div>
                                </li>
                                <li class="kfc success">
                                    <div class="notify_icon">
                                        <span class="icon"></span>
                                    </div>
                                    <div class="notify_data">
                                        <div class="title">
                                            Lorem, ipsum dolor.
                                        </div>
                                        <div class="sub_title">
                                            Lorem ipsum dolor sit amet consectetur.
                                        </div>
                                    </div>
                                    <div class="notify_status">
                                        <p>Success</p>
                                    </div>
                                </li>
                                <li class="show_all">
                                    <p class="link">Show All Activities</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="profile">
                        <div class="icon_wrap">
                            <img src="https://i.imgur.com/x3omKbe.png" alt="profile_pic">
                            <span class="name">John Alex</span>
                            <i class="fas fa-chevron-down"></i>
                        </div>

                        <div class="profile_dd">
                            <ul class="profile_ul">
                                <li class="profile_li"><a class="profile" href="#"><span class="picon"><i
                                                class="fas fa-user-alt"></i>
                                        </span>Profile</a>
                                    <div class="btn">My Account</div>
                                </li>
                                <li><a class="address" href="#"><span class="picon"><i
                                                class="fas fa-map-marker"></i></span>Address</a></li>
                                <li><a class="settings" href="#"><span class="picon"><i
                                                class="fas fa-cog"></i></span>Settings</a></li>
                                <li><a class="logout" href="#"><span class="picon"><i
                                                class="fas fa-sign-out-alt"></i></span>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup">
                <div class="shadow"></div>
                <div class="inner_popup">
                    <div class="notification_dd">
                        <ul class="notification_ul">
                            <li class="title">
                                <p>All Notifications</p>
                                <p class="close"><i class="fas fa-times" aria-hidden="true"></i></p>
                            </li>
                            <li class="starbucks success">
                                <div class="notify_icon">
                                    <span class="icon"></span>
                                </div>
                                <div class="notify_data">
                                    <div class="title">
                                        Lorem, ipsum dolor.
                                    </div>
                                    <div class="sub_title">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </div>
                                </div>
                                <div class="notify_status">
                                    <p>Success</p>
                                </div>
                            </li>
                            <li class="baskin_robbins failed">
                                <div class="notify_icon">
                                    <span class="icon"></span>
                                </div>
                                <div class="notify_data">
                                    <div class="title">
                                        Lorem, ipsum dolor.
                                    </div>
                                    <div class="sub_title">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </div>
                                </div>
                                <div class="notify_status">
                                    <p>Failed</p>
                                </div>
                            </li>
                            <li class="mcd success">
                                <div class="notify_icon">
                                    <span class="icon"></span>
                                </div>
                                <div class="notify_data">
                                    <div class="title">
                                        Lorem, ipsum dolor.
                                    </div>
                                    <div class="sub_title">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </div>
                                </div>
                                <div class="notify_status">
                                    <p>Success</p>
                                </div>
                            </li>
                            <li class="pizzahut failed">
                                <div class="notify_icon">
                                    <span class="icon"></span>
                                </div>
                                <div class="notify_data">
                                    <div class="title">
                                        Lorem, ipsum dolor.
                                    </div>
                                    <div class="sub_title">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </div>
                                </div>
                                <div class="notify_status">
                                    <p>Failed</p>
                                </div>
                            </li>
                            <li class="kfc success">
                                <div class="notify_icon">
                                    <span class="icon"></span>
                                </div>
                                <div class="notify_data">
                                    <div class="title">
                                        Lorem, ipsum dolor.
                                    </div>
                                    <div class="sub_title">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </div>
                                </div>
                                <div class="notify_status">
                                    <p>Success</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<main>
<section div class="intro">
    <div class="d-flex align-center">
        <div class="w-2">
            <img src="asstes/img/Group126@2x.png" alt="">
        </div>
        <div class="w-8">
            <h2>Want even more features?</h2>
            <p>Check out our Pro version with 5 unique layouts!</p>
        </div>
        <div class="w-2">
            <div class="btn-1">
                <a href="#">upgraed to PRO</a>
            </div>
        </div>
    </div>
</section>
<section class="growth">
      <div class="d-flex">
        <div class="w-3">
            <div class="growth-1 d-flex">
            <div class="w-8">
             <h3>$12.34 <span>+3.5%</span></h3>
             
             <p>Potential growth</p>
         </div>
             <div class="w-4">
                 <i class="fa-solid fa-arrow-up"></i>
             </div>
            </div>
         </div>
         <div class="w-3">
            <div class="growth-1 d-flex">
            <div class="w-8">
             <h3>$17.34 <span>+11%</span></h3>
             
             <p>Potential growth</p>
         </div>
             <div class="w-4">
                 <i class="fa-solid fa-arrow-up"></i>
             </div>
            </div>
         </div>
         <div class="w-3">
            <div class="growth-1 d-flex">
            <div class="w-8">
             <h3>$12.34 <span>-2.4%</span></h3>
             
             <p>Potential growth</p>
         </div>
             <div class="w-4">
                 <i class="fa-solid fa-arrow-up"></i>
             </div>
            </div>
         </div>
          <div class="w-3">
            <div class="growth-1 d-flex">
            <div class="w-8">
             <h3>$31.53
                <span>+3.5%</span></h3>
             
             <p>Potential growth</p>
         </div>
             <div class="w-4">
                 <i class="fa-solid fa-arrow-up"></i>
             </div>
            </div>
         </div>
    </div>
</section>
<section div class="h-1">
    <div class="d-flex">
        <div class="w-12 d-flex">
            <div class="w-4">
                <div class="ba-1">
                    <figure class="piechart1" style="/* CSS values to override here */"></figure>
                </div>
            </div>
            <div class="w-8 b-2">
                <div class="d-flex justify-end">
                    <h4>Open Projects</h4>
                    
                </div>
                <div class="d-flex ago justify-between align-center">
                    <div class="w-2">
                        <h5 class="icon1"><i class="fa-solid fa-cloud-arrow-down"></i></h5>
                    </div>
                    <div class="w-8">
                        <h3>Admin dashboard design</h3>
                        <span>Broadcast web app mockup</span>
                    </div>
                    <div class="w-2">
                        <p>15 minutes ago</p>
                        <p>30 tasks, 5 issues

                        </p>
                    </div>
                </div>
               
                <div class="d-flex ago justify-between align-center">
                    <div class="w-2">
                        <h5 class="icon2"><i class="fa-regular fa-clock"></i></h5>
                    </div>
                    <div class="w-8">
                        <h3>Admin dashboard design</h3>
                        <span>Broadcast web app mockup</span>
                    </div>
                    <div class="w-2">
                        <p>15 minutes ago</p>
                        <p>30 tasks, 5 issues

                        </p>
                    </div>
                </div>
                <div class="d-flex ago justify-between align-center">
                    <div class="w-2">
                        <h5 class="icon3"><i class="fa-solid fa-inbox"></i></h5>
                    </div>
                    <div class="w-8">
                        <h3>Admin dashboard design</h3>
                        <span>Broadcast web app mockup</span>
                    </div>
                    <div class="w-2">
                        <p>15 minutes ago</p>
                        <p>30 tasks, 5 issues

                        </p>
                    </div>
                </div>
                <div class="d-flex ago justify-between align-center">
                    <div class="w-2">
                        <h5 class="icon4"><i class="fa-solid fa-cookie-bite"></i></h5>
                    </div>
                    <div class="w-8">
                        <h3>Admin dashboard design</h3>
                        <span>Broadcast web app mockup</span>
                    </div>
                    <div class="w-2">
                        <p>15 minutes ago</p>
                        <p>30 tasks, 5 issues

                        </p>
                    </div>
                </div>
                <div class="d-flex ago justify-between align-center">
                    <div class="w-2">
                        <h5 class="icon4"><i class="fa-solid fa-cookie-bite"></i></h5>
                    </div>
                    <div class="w-8">
                        <h3>Admin dashboard design</h3>
                        <span>Broadcast web app mockup</span>
                    </div>
                    <div class="w-2">
                        <p>15 minutes ago</p>
                        <p>30 tasks, 5 issues

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="growth">
    <div class="d-flex">
      <div class="w-4">
          <div class="growth-1 d-flex">
          <div class="w-8">
            <h2>Revenue</h2>
           <h3>$12.34 <span>+3.5%</span></h3>
           
           <p>Potential growth</p>
       </div>
           <div class="w-4">
            <h4 class="i-1"><i class="fa-brands fa-unity"></i></h4>
           </div>
          </div>
       </div>
       <div class="w-4">
          <div class="growth-1 d-flex">
          <div class="w-8">
            <h2>Sales</h2>
           <h3>$17.34 <span>+11%</span></h3>
           
           <p>Potential growth</p>
       </div>
           <div class="w-4">
            <h4 class="i-1">
                <i class="fa-solid fa-briefcase"></i>
            </h4>
           </div>
          </div>
       </div>
       <div class="w-4">
          <div class="growth-1 d-flex">
          <div class="w-8">
            <h2>Purchase
            </h2>
           <h3>$12.34 <span>-2.4%</span></h3>
           
           <p>Potential growth</p>
       </div>
           <div class="w-4">
                <h4 class="i-1"> <i class="fa-solid fa-display"></i></h4>
           </div>
          </div>
       </div>
  </div>
</section>
<section class="table">                     
    <div class="w-12">
        <h2>Order Status</h2>
        <table width="100%"  cellspcing="0" cellpadding="15" align="center">
            <tr>
                <td>
                    <form>
                        <input type="checkbox">
                    </form>
                </td>
                <td>Client Name</td>
                <td>Order No</td>
                <td>Product Cost</td>
                <td>Project</td>
                <td>Payment Mode</td>
                <td>Start Date</td>
                <td>Payment Status</td>
            </tr>
            <tr>
                <td>
                    <form>
                        <input type="checkbox">
                    </form>
                </td>
                <td style="display: flex; align-items: center;" ><img src="asstes/img/face1.jpg" alt="" width="10%" style="border-radius: 50%; display: inline-block; margin-right: 10px;">Henry Klein</td>
                <td>02312</td>
                <td>$14,500</td>
                <td>Dashboardt</td>
                <td>Credit card</td>
                <td>04 Dec 2019</td>
                <td><span>Approved</span></td>
            </tr>

            <tr>
                <td>
                    <form>
                        <input type="checkbox">
                    </form>
                </td>
                <td style="display: flex; align-items: center;" ><img src="asstes/img/face2.jpg" alt="" width="10%" style="border-radius: 50%; display: inline-block; margin-right: 10px;">Henry Klein</td>
                <td>	02312</td>
                <td>$14,500</td>
                <td>Website</td>
                <td>Cash on delivered</td>
                <td>04 Dec 2019</td>
                <td><span class="p1">Pending</span></td>
            </tr>

            <tr>
                <td>
                    <form>
                        <input type="checkbox">
                    </form>
                </td>
                <td style="display: flex; align-items: center;" ><img src="asstes/img/face5.jpg" alt="" width="10%" style="border-radius: 50%; display: inline-block; margin-right: 10px;">Henry Klein</td>
                <td>02312</td>
                <td>$14,500</td>
                <td>App design</td>
                <td>Credit card</td>
                <td>04 Dec 2019</td>
                <td><span class="p2">Rejected</span></td>
            </tr>

            <tr>
                <td>
                    <form>
                        <input type="checkbox">
                    </form>
                </td>
                <td style="display: flex; align-items: center;" ><img src="asstes/img/face4.jpg" alt="" width="10%" style="border-radius: 50%; display: inline-block; margin-right: 10px;">Henry Klein</td>
                <td>02312</td>
                <td>$14,500</td>
                <td>	Development</td>
                <td>Online Payment</td>
                <td>04 Dec 2019</td>
                <td><span>Approved</span></td>
            </tr>

            <tr>
                <td>
                    <form>
                        <input type="checkbox">
                    </form>
                </td>
                <td style="display: flex; align-items: center;" ><img src="asstes/img/face3.jpg" alt="" width="10%" style="border-radius: 50%; display: inline-block; margin-right: 10px;">Henry Klein</td>
                <td>02312</td>
                <td>$14,500</td>
                <td>Website</td>
                <td>Credit card</td>
                <td>04 Dec 2019</td>
                <td><span>Approved</span></td>
            </tr>
        </table>
    </div>
</section>
<section class="main-table">
    <div class="d-flex">
       <div class="w-4 py-13 m-1">
           <div class="mess">
               <div class="table">
                   <h2>Messages</h2>
                   <table width="100%"  cellspcing="0" cellpadding="15" align="center">
                       
                       <tr>
                           
                           <td style="display: flex; align-items: center;" ><img src="asstes/img/face6.jpeg" alt="" width="20%" style="border-radius: 50%; display: inline-block; margin-right: 10px;">Leonard</td>
                           <td>5 minutes ago</td>
                           
                       </tr>
   
                       <tr>
                           
                           <td style="display: flex; align-items: center;" ><img src="asstes/img/face8.jpeg" alt="" width="20%" style="border-radius: 50%; display: inline-block; margin-right: 10px;">Luella Mills
                           </td>
                           <td>10 Minutes Ago</td>
                           
                       </tr>
   
                       <tr>
                           
                           <td style="display: flex; align-items: center;" ><img src="asstes/img/face9.jpeg" alt="" width="20%" style="border-radius: 50%; display: inline-block; margin-right: 10px;">Ethel Kelly
                           </td>
                           <td>2 Hours Ago</td>
                           
                       </tr>
   
                       <tr>
                           
                           <td style="display: flex; align-items: center;" ><img src="asstes/img/face11.jpeg" alt="" width="20%" style="border-radius: 50%; display: inline-block; margin-right: 10px;">Herman May
                           </td>
                           <td>4 Hours Ago</td>
                         
                       </tr>
   
                      
                   </table>
           </div>
           </div>
       </div>
       <div class="w-4 py-13 m-2">
           <div class="mess-2">
               <h3>Portfolio Slide</h3>
           <img src="asstes/img/Rectangle.jpeg" alt="" width="100%">
           <table width="100%"  cellspcing="0" cellpadding="15" align="center">
               <tr>
                           
                   <td style="display: flex; align-items: center;" ><img src="asstes/img/face6.jpeg" alt="" width="20%" style="border-radius: 50%; display: inline-block; margin-right: 10px;">CeeCee Bass</td>
                   <td>4 Hours Ago</td>
                   
               </tr>
           </table>
           <p>Well, it seems to be working now.</p>
           </div>
       </div>
       <div class="w-4 py-13 m-3">
           <div class="mess-3">
               <div class="app-container" id="taskList">
                   <h1 class="app-header">TO DO LIST</h1>
                   <div class="add-task">
                     <input type="text" autocomplete="off" placeholder="Add New Task" v-model="tasks.name" @keyup.enter="newItem" class="task-input">
                         <input type="submit" value="" class="submit-task" @click="newItem" title="Add Task">
                   </div>
                   <ul class="task-list">
                         <li class="task-list-item" v-for="task in tasks">
                             <label class="task-list-item-label">
                         <input type="checkbox">
                                 <span>{{task.name}}</span>
                             </label>
                             <span @click="delItem(task)" class="delete-btn" title="Delete Task">{{task.del}}</span>
                         </li>
                     </ul>
                     
                 </div>
                 
           </div>
       </div>
    </div>

   </section>
   <section class="Vi-1">
    <div class="d-flex">
        <div class="w-5">
            <div class="table">
                    <h2>Visitors By Countries</h2>
                    <table width="100%"  cellspcing="0" cellpadding="15" align="center">
                       
                        <tr>
                            
                            <td><img src="asstes/img/us.svg" alt="" width="20%" style="border-radius: 50%; display: inline-block; "></td>
                            <td>USA</td>
                            <td>1500	</td>
                            <td>56.35%</td>
                            
                        </tr>
    
                        <tr>
                            
                            <td><img src="asstes/img/de.svg alt="" width="20%" style="border-radius: 50%; display: inline-block; "></td>
                            <td>Germany	</td>
                            <td>800</td>
                            <td>33.25%</td>
                            
                        </tr>
    
                        <tr>
                            
                            <td><img src="asstes/img/au.svg" alt="" width="20%" style="border-radius: 50%; display: inline-block; "></td>
                            <td>Australia</td>
                            <td>760</td>
                            <td>15.45%</td>
                            
                        </tr>
    
                        <tr>
                            
                            <td><img src="asstes/img/gb.svg" alt="" width="20%" style="border-radius: 50%; display: inline-block;"></td>
                            <td>United Kingdom	</td>
                            <td>450</td>
                            <td>25.00%</td>
                            
                        </tr>
                        <tr>
                            
                            <td><img src="asstes/img/ro.svg" alt="" width="20%" style="border-radius: 50%; display: inline-block;"></td>
                            <td>Romania</td>
                            <td>620</td>
                            <td>10.25%</td>
                            
                        </tr>

                        <tr>
                            
                            <td width="10%"><img src="asstes/img/br.svg" alt="" width="20%" style="border-radius: 50%; display: inline-block;"></td>
                            <td width="10%">Brasil	</td>
                            <td width="10%">230</td>
                            <td width="10%">75.00%</td>
                            
                        </tr>
                    </table>
            </div>
        </div>
        <div class="w-7">
            <div id="map"></div>

        </div>
    </div>
</section>
<footer class="bo-1">
    <div class="bo-1 d-flex align-center">
        <div class="w-3">
            <p>Copyright © bootstrapdash.com 2020</p>
            <p>Distributed By <span>ThemeWagon</span> </p>
        </div>
        <div class="w-3"></div>
        <div class="w-6 justify-end d-flex">
            <p> Free  <span>Bootstrap admin templates</span>  from Bootstrapdash.com</p>
        </div>
    </div>
</footer>
</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.js"></script>
    <script>
        $(".openbtn").on("click", function () {
            $(".ui.sidebar").toggleClass("very thin icon");
            $(".asd").toggleClass("marginlefting");
            $(".sidebar z").toggleClass("displaynone");
            $(".ui.accordion").toggleClass("displaynone");
            $(".ui.dropdown.item").toggleClass("displayblock");

            $(".logo").find('img').toggle();

        })
        $(".ui.dropdown").dropdown({
            allowCategorySelection: true,
            transition: "fade up",
            context: 'sidebar',
            on: "hover"
        });

        $('.ui.accordion').accordion({
            selector: {

            }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(".profile .icon_wrap").click(function () {
            $(this).parent().toggleClass("active");
            $(".notifications").removeClass("active");
        });

        $(".notifications .icon_wrap").click(function () {
            $(this).parent().toggleClass("active");
            $(".profile").removeClass("active");
        });

        $(".show_all .link").click(function () {
            $(".notifications").removeClass("active");
            $(".popup").show();
        });

        $(".close, .shadow").click(function () {
            $(".popup").hide();
        });
    </script>
     <script>
        function enterFullscreen() {
         const elem = document.documentElement; 
         if (elem.requestFullscreen) {
             elem.requestFullscreen();
         } else if (elem.mozRequestFullScreen) {
             elem.mozRequestFullScreen();
         } else if (elem.webkitRequestFullscreen) {
             elem.webkitRequestFullscreen();
         } else if (elem.msRequestFullscreen) {
             elem.msRequestFullscreen();
         }
     }

    
     function exitFullscreen() {
         if (document.exitFullscreen) {
             document.exitFullscreen();
         } else if (document.mozCancelFullScreen) {
             document.mozCancelFullScreen();
         } else if (document.webkitExitFullscreen) {
             document.webkitExitFullscreen();
         } else if (document.msExitFullscreen) {
             document.msExitFullscreen();
         }
     }

 
     function toggleFullscreen() {
         if (document.fullscreenElement || document.webkitFullscreenElement ||
             document.mozFullScreenElement || document.msFullscreenElement) {
            
             exitFullscreen();
         } else {
            
             enterFullscreen();
         }
     }

   
     const toggleButton = document.getElementById('toggleFullscreen');
     toggleButton.addEventListener('click', toggleFullscreen);
 </script>
 <script>
     var options = {
chart: {
 width: 300,
 type: "donut"
},
dataLabels: {
 enabled: false
},
series: [55, 25, 20 ]
};

var chart = new ApexCharts(document.querySelector("#chart"), options);

chart.render();

function random() {
return Math.floor(Math.random() * (100 - 1 + 1)) + 1;
}

function appendData() {
var arr = chart.w.globals.series.map(() => {
 return random();
});
arr.push(random());
return arr;
}

function removeData() {
var arr = chart.w.globals.series.map(() => {
 return random()
});
arr.pop();
return arr;
}

function randomize() {
return chart.w.globals.series.map(() => {
 return random();
});
}

function reset() {
return options.series;
}

document.querySelector("#randomize").addEventListener("click", function() {
chart.updateSeries(randomize());
});

document.querySelector("#add").addEventListener("click", function() {
console.log(appendData());
chart.updateSeries(appendData());
});

document.querySelector("#remove").addEventListener("click", function() {
chart.updateSeries(removeData());
});

document.querySelector("#reset").addEventListener("click", function() {
chart.updateSeries(reset());
});

 </script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
 <script>
     new Vue ({
 el: '#taskList',
 data: {
     title: 'to do list',
     tasks: [
         { name: 'Start a new pen' },
         { name: 'Read a book' },
         { name: 'Start a new pen' },
         { name: 'Read a book' },
         { name: 'Read a book' },
         { name: 'Meeting with team' }
         
     ]
 },
 methods: {
     newItem: function() {
         if (!this.tasks.name) {
             return
         }
         this.tasks.push ( {
             name: this.tasks.name,
             del: ''
         });
   this.tasks.name = "";
     },
     delItem: function (task) {
         this.tasks.splice(this.tasks.indexOf(task), 1)
     }
 }
})
 </script>

 <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
 <script>

 // TO MAKE THE MAP APPEAR YOU MUST
 // ADD YOUR ACCESS TOKEN FROM
 // https://account.mapbox.com
 mapboxgl.accessToken = 'pk.eyJ1Ijoic29jcmF0YSIsImEiOiJjaXJxc2wzam0waGU5ZmZtODhqd2ttamdxIn0.1ZQEByXoDD7fGIa9lUHIqg';
 mapboxgl.setRTLTextPlugin(
     'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.3/mapbox-gl-rtl-text.js'
 );

 const map = new mapboxgl.Map({
     container: 'map', // container ID
     // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
     style: 'mapbox://styles/mapbox/light-v11', // style URL
     center: [9.49, 49.01], // starting position [lng, lat]
     zoom: 4 // starting zoom
 });

 map.on('load', () => {
     map.setLayoutProperty('country-label', 'text-field', [
         'format',
         'RAJ',
         { 'font-scale': 1.2 },
         '\n',
         {},
         'kumar',
         {
             'font-scale': 0.8,
             'text-font': [
                 'literal',
                 ['DIN Offc Pro Italic', 'Arial Unicode MS Regular']
             ],
             'text-color': 'blue' 
         }
     ]);
 });

 </script>
 
</body>

</html>